<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Ingredient 1:</strong>
  <%= @product.ingredient_1 %>
</p>

<p>
  <strong>Ingredient 2:</strong>
  <%= @product.ingredient_2 %>
</p>

<p>
  <strong>Ingredient 3:</strong>
  <%= @product.ingredient_3 %>
</p>

<p>
  <strong>Ingredient 4:</strong>
  <%= @product.ingredient_4 %>
</p>

<p>
  <strong>Quantity 1:</strong>
  <%= @product.quantity_1 %>
</p>

<p>
  <strong>Quantity 2:</strong>
  <%= @product.quantity_2 %>
</p>

<p>
  <strong>Quantity 3:</strong>
  <%= @product.quantity_3 %>
</p>

<p>
  <strong>Quantity 4:</strong>
  <%= @product.quantity_4 %>
</p>

<p>
  <strong>Content 1:</strong>
  <%= @product.content_1 %>
</p>

<p>
  <strong>Content 2:</strong>
  <%= @product.content_2 %>
</p>

<p>
  <strong>Content 3:</strong>
  <%= @product.content_3 %>
</p>

<p>
  <strong>Content 4:</strong>
  <%= @product.content_4 %>
</p>

<p>
  <strong>Description 1:</strong>
  <%= @product.description_1 %>
</p>

<p>
  <strong>Description 2:</strong>
  <%= @product.description_2 %>
</p>

<p>
  <strong>Description 3:</strong>
  <%= @product.description_3 %>
</p>

<p>
  <strong>Description 4:</strong>
  <%= @product.description_4 %>
</p>

<p>
  <strong>Quantity asked:</strong>
  <%= @product.quantity_asked %>
</p>

<p>
  <strong>Sub description:</strong>
  <%= @product.sub_description %>
</p>

<%= link_to 'Back', products_path %> |
<%= link_to 'Bye', new_order_path %>
